*{
    box-sizing: border-box;
    font-family: 'Montserrat', cursive;
}
body {
    margin: 0px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-template-rows: 0.1fr 2.5fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "header-grid"
        "main-grid"
        "footer-grid";
    background-color: #ff0000;
}
.header-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    background-color: #fff;
    border-bottom: 0.1px solid #ffffff80;
    grid-area: header-grid;
}
.logo {
    text-align: left;
    padding-left: 2%;
}
.logo a {
    font-family: 'Concert One', cursive;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    line-height: 30px;
    font-size: 4em;
}
.logo span {
    color: #ff0000;
    font-family: 'Concert One', cursive;
    font-weight: bold;
}
.lista-menu{
    display: grid;
    grid-template-columns: 1.1fr 0.8fr 1.1fr;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.header-grid .menu-Pri .lista-menu li {
    text-align: center;
}
.header-grid .menu-Pri .lista-menu li a {
    line-height: 80px;
    color: #000;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
.header-grid .menu-Pri .lista-menu li a:hover {
    color:#ff0000;
}
.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0% 5%;
    grid-area: main-grid;
}
.parte1{
    padding: 1% 3%;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
      "txtPri imgPri"
      "oni_Store .";
    grid-gap: 0% 2%;
}
#txtPri {
    grid-area: txtPri;
}
#imgPri {
    grid-area: imgPri;
    display: grid;
    align-items: center;
}
.img_Pri img{
    width: 100%;
    border-radius: 15px;
}
#imgPri #acess_imagem {
    width: 30%;
    text-align: center;
}
#imgPri #onibus_imagem {
    width: 50%;
}
#oni_Store {
    grid-area: oni_Store;
}
.parte1 h2{
    color:#ff0000;
    text-align: center;
    font-size: 2em;
    font-family: 'Concert One', cursive;
}
.parte1 p{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}
.txt-App{
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
}
.bxr-App{
    text-align: center;
}
.parte2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "barra"
        "artSec"
        "barra2"
        "artTer"
        "barra3"
        "artQua";
    padding: 1% 3%;
    background-color: #f9f9f9;
}
hr {
    background-color: #ccc4c4ea;
    width: 60%;
    height: 3px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
}
#artSec {
    grid-area: artSec;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-areas: 
        "img_Sec txt_Sec";
    align-items: center;
    padding: 5% 0px;
}
.img_Sec {
    grid-area: img_Sec;
}
.img_Sec img{
    width:100%;
    border-radius: 15px;
}
.txt_Sec {
    padding-left: 8%;
}
.parte2 h1{
    color:#ff0000;
    font-family: "Concert One", cursive;
    font-size: 2em;
}
#artTer {
    grid-area: artTer;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-areas: 
        "img_Sec txt_Sec";
    align-items: center;
    padding: 5% 0px;
}
#artQua {
    grid-area: artQua;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-areas: 
        "img_Sec txt_Sec";
    align-items: center;
    padding: 5% 0px;
}
.footer-grid {
    background-color: #000;
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    grid-gap: 5% 0px;
    padding: 1% 0px;
    box-sizing: border-box;
    grid-area: footer-grid;
}
.contatos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.contatos figure{
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr 0.1fr;
}
.contatos img{
 width: 25%;
 margin-left: auto;
 margin-right: auto;
}
.contatos figcaption{
    text-align:center;
    font-family: 'Montserrat', cursive;
    color: #fff;
    font-weight: bold;
    margin: 16px 0px 16px 0px;
}
.copyright p{
    margin: 0px;
    text-align: center;
    color:#fff;
    font-weight: bold;
}
@media screen and (max-width:720px){
    .header-grid {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        align-items: center;
    }
    .logo {
        text-align: center;
        padding: 0px;
    }
    .logo a {
        font-size: 3em;
        line-height: normal;
    }
    .lista-menu li {
        font-size: 0.8em;
    }
    .header-grid .menu-Pri .lista-menu li a {
        line-height: 50px;
        color: #000;
        font-weight: bold;
        text-decoration: none;
        white-space: nowrap;
    }
    .main-grid {
        padding: 0px;
    }
    .parte1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-template-rows: auto;
        grid-template-areas: 
            "txtPri"
            "imgPri"
            "oni_Store"
        ;
        padding: 2%;
    }
    .parte2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        padding: 2%;
    }
    hr {
        width: 100%;
    }
    #artSec {
        grid-area: artSec;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-template-areas: 
            "txt_Sec"
            "img_Sec";
        padding: 0px;
    }
    #artTer {
        grid-area: artTer;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-template-areas: 
            "txt_Sec"
            "img_Sec";
        padding: 0px;
    }
    #artQua {
        grid-area: artQua;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-template-areas: 
            "txt_Sec"
            "img_Sec";
        padding: 0px;
    }
    .parte2 h1 {
        text-align: center;
        font-size: 1.5em;
    }
    .txt_Sec {
        text-align: center;
        padding: 0px;
    }
    #acess_imagem {
        grid-area: um;
    }
    #onibus_imagem {
        grid-area: dois;
    }
    .txt-App{
        text-align: center;
        margin-top: 16px;
        font-weight: bold;
    }
    .footer-grid {
        gap: 10px 0px;
    }
    .contatos{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .contatos figure {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .contatos img {
        width: 40%;
    }
    .copyright {
        height: fit-content;
    }
}